<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFL Predictor - Player Info</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />

    <!-- Link to Bootstrap 4 framework -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- FontAwesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div id="dismiss">
          <i class="fa fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
          <h3>NFL Predictor</h3>
        </div>

        <ul class="list-unstyled components">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#" class="activeMenu">Players</a>
          </li>
          <li>
            <a href="#">Templates</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <!-- Page Content -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn">
              <i class="fa fa-align-left"></i>
            </button>
          </div>
        </nav>
        <div class="container">
            <div class="playerDetail">
              <div class="detailHeader">
                <div class="row">
                    <div class="col-lg-2 detailImg">
                      <img src="img/tom_brady.png" alt="">
                    </div>
                    <div class="col-lg-6 detailInfo">
                      <h2>Tom Brady</h2>
                      <h6>#12 QB</h6>
                      <p>New England Patriots</p>
                      <img src="img/pats.png" alt="">
                    </div>
                    <div class="col-lg-1 detailSlot align-self-center">
                        <h4>TDS</h4>
                        <p>24</p>
                    </div>
                    <div class="col-lg-1 detailSlot align-self-center">
                      <h4>INT</h4>
                      <p>8</p>
                    </div>
                    <div class="col-lg-1 detailSlot align-self-center">
                        <h4>YDS</h4>
                        <p>4,057</p>
                    </div>
                    <div class="col-lg-1 detailSlot align-self-center">
                      <h4>RTG</h4>
                      <p>88.0</p>
                    </div>
                </div>
              </div>
              <div class="detailStats">
                <div class="statsTitle">
                  <h4>CAREER STATS</h4>
                </div>
                <div class="statsContent">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th>Season</th>
                        <th colspan="6"></th>
                        <th colspan="7">Passing</th>
                        <th colspan="3">Rushing</th>
                        <th colspan="2">Fumbles</th>
                      </tr>
                      <tr>
                        <th></th>
                        <th>G</th>
                        <th>S</th>
                        <th>Comp</th>
                        <th>Att</th>
                        <th>Pct</th>
                        <th>Yds</th>
                        <th>Avg</th>
                        <th>TD</th>
                        <th>Int</th>
                        <th>Sck</th>
                        <th>SckY</th>
                        <th>Rate</th>
                        <th>Att</th>
                        <th>Yds</th>
                        <th>Avg</th>
                        <th>TD</th>
                        <th>FUM</th>
                        <th>Lost</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>2019</th>
                        <th>16</th>
                        <th>16</th>
                        <th>373</th>
                        <th>613</th>
                        <th>60.8</th>
                        <th>4,057</th>
                        <th>6.6</th>
                        <th>24</th>
                        <th>8</th>
                        <th>27</th>
                        <th>185</th>
                        <th>88.0</th>
                        <th>26</th>
                        <th>34</th>
                        <th>1.3</th>
                        <th>3</th>
                        <th>4</th>
                        <th>1</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/listPlayers.js"></script>
    <!-- JQuery link -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <!-- Popper link -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap js link -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#sidebar").mCustomScrollbar({
          theme: "minimal"
        });

        $("#dismiss, .overlay").on("click", function() {
          // hide sidebar
          $("#sidebar").removeClass("active");
          // hide overlay
          $(".overlay").removeClass("active");
        });

        $("#sidebarCollapse").on("click", function() {
          // open sidebar
          $("#sidebar").addClass("active");
          // fade in the overlay
          $(".overlay").addClass("active");
          $(".collapse.in").toggleClass("in");
          $("a[aria-expanded=true]").attr("aria-expanded", "false");
        });
      });
    </script>
  </body>
</html>
