:root {
  --red: #dd1d1f;
  --dark-blue: #003876;
  --light-blue: #2dc3ed;
  --white: #ffffff;
  --gray: #dcc0c0;
}

p {
  font-family: "Nunito Sans";
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.navbar i {
  color: var(--red);
}

.navbar a {
  color: var(--red);
}

.navbar .login {
  padding: 0px 0px 0px 40px;
}

.navbar .register {
  padding: 0px;
}

.wrapper {
  display: block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  font-family: "Nunito Sans";
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: var(--dark-blue);
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#sidebar .activeMenu {
  color: var(--light-blue);
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: var(--dark-blue);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  color: #2dc3ed;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: var(--dark-blue);
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #ffffff;
  padding-left: 20px;
}

#sidebar ul li a:hover {
  color: var(--light-blue);
  background: #fff;
  text-decoration: none;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* ---------------------------------------------------
    PAGINATION STYLE
----------------------------------------------------- */

.pagination .page-item {
  cursor: pointer;
}

/* ---------------------------------------------------
    PLAYERS STYLE
----------------------------------------------------- */

#content {
  font-family: "Nunito Sans";
  padding: 20px;
  width: 100%;
  transition: all 0.3s;
  top: 0;
  right: 0;
}

#content .container .row .playerResume {
  border-radius: 10px;
  background-color: #f6f6f6;
}

#content .container .row .playerList {
  height: 90vh;
  padding: 20px 0px 10px 0px;
}

#content .container .row .playerList .playerL {
  height: 75vh;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

#content .container .row .playerList .playerL .player:hover {
  background-color: #ccc;
  cursor: pointer;
}

#content .container .row .playerList .playerL .player {
  padding: 10px 10px 0 10px;
  margin: 0px;
}

#content .playerI {
  border-radius: 50%;
  width: 80%;
}

#content .container .row .playerList .playerL .player .extraI:hover {
  color: #000;
}

#content .container .row .playerList .playerL .player .playerInfo {
  padding: 0px;
}

#content .container .row .playerList .headerContent hr {
  margin: 0px 10px 0px 10px;
}

#content .container .row .playerList .headerContent .playerHeader {
  padding: 0px 12px 0px 12px;
}

#content .container .row .playerList .headerContent .playerHeader .col-4 {
  padding-left: 0px;
}

#content .container .row .playerList .playerL .player .playerExtra {
  padding: 0px 0px 0px 10px;
}

#content .container .row .playerList .headerContent form {
  padding: 0px 12px 0px 12px;
}

#content .container .row .playerResume {
  padding: 20px 20px 5px 20px;
  height: 90vh;
}

#content .container .row p {
  font-size: 12px;
}

#content #season {
  font-size: 10px;
}

#content h5 {
  margin-bottom: 0px;
  font-weight: bold;
}

#content .playerImage {
  padding-right: 0px;
  padding-left: 0px;
}

#content .playerName {
  padding-left: 0px;
}

#content .player {
  padding-bottom: 10px;
  padding-top: 10px;
}

#active {
  background-color: #e6e6e6;
}

#content hr {
  margin-top: 0px;
}

#content #pos {
  border-radius: 0px;
}

#content #filter {
  border-radius: 40px;
}

#content .playerImg {
  width: 78%;
  border-radius: 0px;
}

#content .resumeInfo {
  background-image: url("../img/tom_b.jpeg");
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  margin: -20px -20px 0px -20px;
}

#content .resumeInfo h2 {
  padding-top: 10px;
}

#content .card {
  width: 250px;
  height: 70px;
  padding: 5px;
  position: absolute;
  top: 150px;
  -webkit-box-shadow: 10px 10px 36px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 36px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 36px -6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#content .card #player-resume-number {
  position: absolute;
  right: 0px;
  top: -5px;
  font-size: 3rem;
}

#content .card .resumeInfo2 {
  z-index: 2;
}

#content .starPlot {
  border-radius: 0px;
  margin-top: 70px;
  width: 80%;
}

#content .infoExtra {
  margin-top: 70px;
  padding-left: 0px;
}

#content .starStats {
  padding-right: 0px;
}

#content .infoExtra p,
h4 {
  margin-bottom: 0px;
}

#content .row a {
  font-family: "Nunito Sans";
  color: #ccc;
  text-decoration: underline;
  padding-right: 8px;
}

#content .row a:hover {
  color: #000;
}

/** Placeholder Styling **/

::-webkit-input-placeholder {
  font-size: 13px;
}
::-moz-placeholder {
  font-size: 13px;
}
:-ms-input-placeholder {
  font-size: 13px;
}
::placeholder {
  font-size: 13px;
}

/* ---------------------------------------------------
    TEMPLATES STYLE
----------------------------------------------------- */

.container .row .benchList,
.templatesList,
.templateItem {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px;
}

.container .row .benchList .playerL .playerInfo {
  padding: 0px;
}

.container .row .benchList {
  margin-bottom: 20px;
}

.container .row .benchList .playerL .playerName {
  padding: 0px;
}

.container .row .benchList .playerL .playerExtra {
  padding: 0px;
}

.container .row .benchList .playerL .player {
  margin: 0px;
}

/* Template */

.container .row .templatesList .templateL .templateInfo {
  padding: 0px;
}

.container .row .templatesList .templateHeader .col-3 {
  padding-left: 0px;
}

.container .row .templatesList .playerL .templateName {
  padding: 0px;
}

.container .row .templatesList .templateL .templateExtra {
  padding: 0px;
}

.container .row .templatesList .templateL .template {
  margin: 0px;
}

.container .row .templatesList .templateL .template .templateImg {
  border-radius: 0;
  width: 80%;
}

.container .row .templateItem .templatePitch img {
  height: 100vh;
  width: 70%;
}

.container .row .templateItem {
  padding: 0px;
}

.container .row .templateItem .templateHeader {
  padding: 10px 10px 0px 10px;
  background-color: #ccc;
  border-radius: 10px 10px 0px 0px;
}

.container .row .templateItem .templatePitch {
  padding-bottom: 15px;
  padding-top: 15px;
}

.container .row .templateItem .templateFooter p,
i {
  color: #fff;
}

.container .row .templateItem .templateFooter .row p {
  font-size: 18px;
}

.container .row .templateItem .templateFooter {
  background-color: var(--light-blue);
  padding: 10px 10px 0px 10px;
  border-radius: 0px 0px 10px 10px;
}

/* ---------------------------------------------------
    PLAYERS DETAIL STYLE
----------------------------------------------------- */

#content .container .playerDetail {
  border-radius: 10px;
  background-color: #f6f6f6;
  padding: 10px;
}

#content .container .playerDetail .detailHeader img {
  width: 80%;
}

#content .container .playerDetail .detailHeader .row .detailInfo h6 {
  margin: 0px;
}

#content .container .playerDetail .detailHeader .row .detailInfo p {
  margin: 0px;
  padding-bottom: 10px;
}

#content .container .playerDetail .detailHeader .row .detailInfo h2 {
  margin: 0px;
  font-weight: bold;
}

#content .container .playerDetail .detailHeader .row .detailInfo img {
  width: 20%;
}

#content .container .playerDetail .detailHeader .row .detailImg {
  padding-right: 0px;
}

#content .container .playerDetail .detailHeader .row .detailInfo {
  padding-left: 0px;
}

#content .container .playerDetail .detailHeader .row .detailSlot h4 {
  background-color: #999;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0;
  padding: 5px;
  text-align: center;
}

#content .container .playerDetail .detailHeader .row .detailSlot p {
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  text-align: center;
}

#content .container .playerDetail .detailStats {
  padding-top: 15px;
}

#content .container .playerDetail .detailStats h4 {
  color: #fff;
  padding: 5px;
  background-color: var(--dark-blue);
  border-radius: 10px 10px 0px 0;
}

#content .container .playerDetail .detailStats td {
  background-color: #fff;
}

#content .container .playerDetail .detailStats .statsContent {
  background-color: #fff;
  margin-top: -10px;
  border-radius: 0px 0px 10px 10px;
  padding: 0px 0px 10px 0px;
}

#content .container .playerDetail .detailStats .statsContent table {
  width: 100%;
}

/* ---------------------------------------------------
    ERROR STYLE
----------------------------------------------------- */

.error {
  background-color: var(--dark-blue);
}

/* ---------------------------------------------------
    FLOATING DIV TEMPLATE STYLE
----------------------------------------------------- */

.floating-template {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 40px;
  background-color: aqua;
}
